<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nova2_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import nova2_robot urdf file -->
    <xacro:include filename="$(find dobot_rviz)/urdf/nova2_robot.urdf" />

    <xacro:include filename="$(find dh_pgc140_urdf)/urdf/dh_pgc140_urdf.xacro" />

    <!-- ロボット本体＋グリッパの統合 -->
    <xacro:dh_pgc140
        parent_link="Link6"
        prefix="pgc_"
        origin_xyz="0 0 0" 
        origin_rpy="0 0 0" />

    <!-- Import control_xacro -->
    <xacro:include filename="nova2_robot.ros2_control.xacro" />


    <xacro:nova2_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
